<h1> Hey {{name}}, deine Schritte der letzten Tage</h1>
<table class="table">
	<thead>
  <tr>
    <th scope="col">
      Datum
    </th>
    <th scope="col">
      Schritte
    </th>
  </tr>
</thead>
<tbody>
	{{#each steps}}
<tr>
  <td>
    {{date}}
  </td>
  <td>
    {{step}}
  </td>
</tr>
	{{/each}}
	</tbody>
</table>
